.avatar{
    width: 150px;
    height: 150px;
}

.navbar .container-avatar,
.pub_image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}
.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
    width: 100%;
}

.pub_image .container-avatar{
    float: left;
    margin-right: 15px;
}

.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
  
}
.pub_image{
    margin-bottom: 60px;
}

.image-container{
    width: 100%;
    height: 500px;
    /* overflow: hidden; */
}

.image-container img{
    width: 100%;
    height: 100%;
}
.pub_image .card-body{
    padding: 0px !important;
}

.pub_image .description{
    padding: 20px;
    padding-bottom: 0px;
   
}
.paginations{
    display: flex;
    justify-content: center;
}

.pub_image .btn.comments{
    margin: 20px;
    margin-top: 0px;
}
.like{
    
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.corazon{
    width: 25px;
    font-size: 18px;
}

.pub_image .comments{
    margin-left: 20px;
margin-bottom: 20px;
}
.data-user a{
    color: black;
}
.creado{
    color: gray;
}

.pub_image_detail .comments{
    margin-right: 20px;
}
.red{
    color: red;
    font-size: 18px;
    
}
.nombreUsuario{
    font-size: 28px;
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: rgb(67, 66, 66);
}

.profiles .avatar{
    border-radius: 50%;
}
.editarPerfil{
    align-self: center;
}
.EditarPerfilN{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 13px;
    color: #413f3f !important;
    text-decoration: none !important;
}
.actions{
    padding: 20px;
}




